section:nth-child(1) {
    background-image: url('https://images.pexels.com/photos/1001445/pexels-photo-1001445.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section:nth-child(2) {
    background-image: url('https://images.pexels.com/photos/5933362/pexels-photo-5933362.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section:nth-child(3) {
    background-image: url('https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section:nth-child(4) {
    background-image: url('https://images.pexels.com/photos/3617551/pexels-photo-3617551.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Make footer feel part of the image */
footer {
    text-align: center;
    margin: 0;
    padding: 3rem 1rem;
    font-size: 0.9rem;
    opacity: 0.9;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    background: url('https://images.pexels.com/photos/3617551/pexels-photo-3617551.jpeg') center/cover no-repeat;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.25); /* subtle dark overlay for text visibility */
    border-radius: 0 0 40px 40px;
}
